/* Semantic Elements */
body {
    background-color: #ffe6cc;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Text */
h3 {
    text-align: center;
}

.card h3 {
    text-decoration: underline;
}

footer a {
    color: white;
    text-decoration: none;
}

/* Images */

/* Divs, Sections, and others */
#cards {
    display: flex;
    justify-content: center;
    padding: 5px;
}

#navbar a {
    color: white;
}

.card {
    margin: 5px;
    height: 100%;
}

#welcome {
    display: flex;
    flex-direction: column;
}

#heading {
    text-align: center;
}

#petcarousel {
    margin-left: 5px;
}

@media (min-width: 992px) {
    #heading {
        width: 50%;
        margin-right: 5px;
    }

    #welcome {
        flex-direction: row;
    }
}